
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Principal</title>
    <link rel="stylesheet" href="~/Content/sidemenu.css"/>
</head>
<body>
    <div id="sidemenu" class="menu-collapsed">
        <div id="header">
            <div id="title"><samp>Susana</samp>
               <div>
                   <div id="menu-btn">
                       <div class="btn-hamburguer"></div>
                       <div class="btn-hamburguer"></div>
                       <div class="btn-hamburguer"></div>
                       <div class="btn-hamburguer"></div>
                   </div>
               </div>
               <div id="profile">
                   <div id="photo"><img src="~/imagenes/susana.jpeg" alt="" /></div>
                   <div id="name"><span>Susana</span></div>





                   <div id="menu-items">
                       <div class="item">
                           <a href="#">
                               <div>
                                   <div class="icon"><img src="~/imagenes/icons8-usuario-masculino-en-círculo-50.png" alt="" /></div>
                                   <div class="title"><span>Cuenta</span></div>
                               </div>
                           </a>
                       </div>

                   </div>
               </div>
            </div>
        </div>

    </div>
    <div id="main-container">

    </div>
</body>
</html>