
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,500&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <title>Principal</title>
</head>
<body onload="getLocation()">
    <div class="container">
        <div class="side">
            <div class="header">
                <div class="avatar">
                    <a href="~/Home/Cuenta">
                        @*@con esto me tarigo el nombre y la imagen del usuario actual@*@
                        @{
                            var miObjeto = Session["Cliente"] as CapaEntidad.cliente;
                        }
                        @if (miObjeto != null)
                        {
                            <p></p>
                        }


                        <img src="@Url.Action("GetImage", "preguntasInteres", new { id = miObjeto.idCliente})" />
                    </a>

                </div>
                <div class="title"><samp>@(miObjeto != null ? miObjeto.nombre : Session["nombre"])</samp></div>
                <div id="id"  style="display: none">@(miObjeto != null ? miObjeto.idCliente : Session["idCliente"])</div>

            </div>
            <div class="menu">
                <ul>
                    <li>Matches</li>
                    <li class="active">Mensajes</li>
                    <li>Suspiros</li>
                </ul>
            </div>
            <div class="messages">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/women/38.jpg" alt="" />
                </div>
                <div class="message">
                    <div class="user">Caroline</div>
                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                </div>
            </div>
            <div class="messages">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/women/39.jpg" alt="" />
                </div>
                <div class="message">
                    <div class="user">Caroline</div>
                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                </div>
            </div>
            <div class="messages">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/women/40.jpg" alt="" />
                </div>
                <div class="message">
                    <div class="user">Caroline</div>
                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                </div>
            </div>
            <div class="messages">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/women/41.jpg" alt="" />
                </div>
                <div class="message">
                    <div class="user">Caroline</div>
                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                </div>
            </div>
            <div class="messages">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/women/42.jpg" alt="" />
                </div>
                <div class="message">
                    <div class="user">Caroline</div>
                    <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing</div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="card">
                <div class="user">
                    <img class="user"
                         src="https://images.unsplash.com/photo-1532910404247-7ee9488d7292?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80"
                         alt="" />
                    <div class="profile">
                        <div class="name">Rafaela <span>20</span></div>
                        <div class="local">
                            <i class="fas fa-map-marker-alt"></i>
                            <span>a 20 quilômetros daqui</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <div class="no">
                    <i class="fas fa-times"></i>
                </div>
                <div class="star">
                    <i class="fas fa-star fa"></i>
                </div>
                <div class="heart">
                    <i class="fas fa-heart"></i>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("La geolocalización no es compatible con este navegador.");
            }
        }


        function showPosition(position) {

            var id = document.querySelector('#id').innerHTML;
          
            $.ajax({
                type: "POST",
                 url: '@Url.Action("ubicacion", "Acceso")',
                data: JSON.stringify({ idCliente: id,latitud: position.coords.latitude, longitud: position.coords.longitude }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert("Su ubicación actual esta siendo utilizada");
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Error al enviar la ubicación al servidor.");
                }
            });
        }

    </script>

</body>
</html>
