
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerPerfil</title>
</head>

<body>
    <div class="user">
        <img class="user" id="user" />
        <div class="profile">
            <p id="id2" style="display:none"></p>
            <div class="name">
                <span id="nom">20</span>
                <span id="edad">20</span>
            </div>
            <div id="myBtn" class="icon">

                <i class="las la-eye"></i>


            </div>

            <div class="local">
                <span><b>Descripción:</b></span>
            </div>
            <div class="desc">
                <span id="desc">Hola soy olaf y adoro los abrazos</span>
            </div>

        </div>
    </div>
   
</body>
</html>
