
@{
    ViewBag.Title = "Servidor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Servidor</h2>
<div style="background-color:lightgray">
    <button style="background-color:lawngreen"><i class="fas fa-check"></i>Guardar</button>
    <button style="background-color:gray"><i class="fas fa-close"></i>Guardar y cerrar</button>
    <button style="background-color:red"><i class="fas fa-xing-square"></i>Cancelar</button>
</div>
<br />
<br />
<div style="background-color:lightgray">
    <div>
        <h3>Configuracion de base de datos</h3>
        <div>
            <label>Tipo</label>
            <input type="text"/>
        </div>
        <br />
        <div>
            <label>Hospedaje</label>
            <input type="text" />
        </div>
        <br />
        <div>
            <label>Usuario</label>
            <input type="text" />
        </div>
        <br />
        <div>
            <label>Base de datos</label>
            <input type="text" />
        </div>
        <br />

    </div>
    <h3>Configuracion del correo electronico</h3>
    <div>
        <label>Gestor del correo</label>
        <input />
    </div>
    <br />
    <div>
        <label>Correo electronico del sitios</label>
        <input type="text" />
    </div>
</div>
