
@{
    ViewBag.Title = "Sistema";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sistema</h2>

<div style="background-color:lightgray">
    <button style="background-color:lawngreen"><i class="fas fa-check"></i>Guardar</button>
    <button style="background-color:gray"><i class="fas fa-close"></i>Guardar y cerrar</button>
    <button style="background-color:red"><i class="fas fa-xing-square"></i>Cancelar</button>
</div>
<br />
<br />
<div style="background-color:lightgray">
    <div>
        <h3>Configuracion de las sesiones</h3>
        <div>
            <label>Duracio de la sesion</label>
            <input type="text" />
            <p>Minutos</p>
        </div>
        <br />
        <div>
            <label>Gestion de la sesion</label>
            <input type="text" placeholder="Base de datos"/>
        </div>
        <br />

    </div>
    <h3>Configuracion del sistema</h3>
    <div>
        <label>Ruta de carpeta del registro</label>
        <input type="text"/>
    </div>
    <br />
</div>