
@{
    ViewBag.Title = "Sitio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sitio</h2>

<div style="background-color:lightgray">
    <button style="background-color:lawngreen"><i class="fas fa-check"></i>Guardar</button>
    <button style="background-color:gray"><i class="fas fa-close"></i>Guardar y cerrar</button>
    <button style="background-color:red"><i class="fas fa-xing-square"></i>Cancelar</button>
</div>
<br />
<br />
<div style="background-color:lightgray">
    <div>
        <label>Nombre del sitio</label>
        <input />
    </div>
    <br />
    <div>
        <label>Sitio fuera de linea</label>
        <input type="checkbox" />
    </div>
    <br />
    <div>
        <label>Mensaje fuera de lineas</label>
        <input type="t" />
    </div>
    <br />
    <div>
        <label>Mensaje personalizado</label>
        <input type="text" />
    </div>
    <br />
    <div>
        <label>Imagen para "Sitio fuera de linea"</label>
        <input type="file" />
    </div>
</div>
