
@{
    ViewBag.Title = "preferencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Preguntas</h2>

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Test</a></li>
    <li class="breadcrumb-item active">Preguntas</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista Preguntas
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModatl(null)">Crear Nuevo</button>
            </div>
        </div>

        <hr />
        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>

                    <th>Nombre </th>
                    <th>Test</th>
                    

                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Preferencias</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtid" type="hidden" value="0" />


                <form id="contenedor" class="row">

                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="txtnombre" name="nombre" />
                        </div>

                    </div>


                    

                    
                    <div class="col-sm-3">
                        <div class="mb-2">
                            <label class="form-label">Test</label>
                            <select id="cboTest" class="form-select">
                            </select>
                        </div>

                    </div>



                </form>
                <!--Mensaje de alerta-->
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">

                        </div>
                    </div>

                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script>

        var tabladata;
        var filaSeleccionada

        jQuery.ajax({
            url: '@Url.Action("ListarPregunta", "TestPersonalidad")',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {



                console.log(data)
            }
        })

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarPregunta", "TestPersonalidad")',
                type: "GET",
                dataType: "json"
            },
            "columns": [

                { "data": "nombre" },


               
                {
                    "data": "otest", "render": function (data) {
                        return data.nombre
                    }
                },

                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }

            ],
            "language": { "url": "//cdn.datatables.net/plug-ins/1.13.2/i18n/es-ES.json" }
        });
           jQuery.ajax({
                        url: '@Url.Action("Listart", "TestPersonalidad")',
                        type: "GET",
                        data: null,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data)

                $("<option>").attr({ "value": "0", "disabled": "true" }).text("Seleccionar").appendTo("#cboTest");

                $.each(data.data, function (index, item)
                {
                    $("<option>").attr({ "value": item.idtest }).text(item.nombre).appendTo("#cboTest");
                })

                        },
                        error: function (error) {
                            console.log(error)
                        },

                });

















         $("#contenedor").validate({
            rules: {

                nombre: {
                    required: true
                },


                idtest: {
                    required: true,

                }
            },
            messages: {
                nombre: "- El campo nombre es obligatorio",
                idtest: "- El campo test es obligatorio",

            },
            errorElement: "div",
            errorLabelContainer: ".alert-danger"
        })



        function abrirModatl(json) {

            $("#txtid").val(0);
            $("#txtnombre").val("");
            $("#cboTest").val($("#cboTest option:first").val());
            
            $("#mensajeError").hide();




            if (json != null) {
                $("#txtid").val(json.idPreguntaTest);
                $("#txtnombre").val(json.nombre);
                $("#cboTest").val(json.otest.idtest);
                


            }

            $("#FormModal").modal("show")
        }

        $("#tabla tbody").on("click", '.btn-editar', function () {
            filaSeleccionada = $(this).closest("tr");
            var data = tabladata.row(filaSeleccionada).data();

            abrirModatl(data)


        })




        function guardar() {


            if (!$("#contenedor").valid()) {
                return;
            }

            var pregunta = {

                idPreguntaTest: $("#txtid").val(),
                otest: {
                    idtest: $("#cboTest option:selected").val(),
                    nombre: $("#cboTest option:selected").text()
                    },

                nombre: $("#txtnombre").val(),

               



            }

            jQuery.ajax({
                url: '@Url.Action("GuardarPregunta", "TestPersonalidad")',
                type: "POST",
                data: JSON.stringify({ obj: pregunta }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");


                    //interes nuevo
                    if (pregunta.idPreguntaTest == 0) {

                        if (data.resultado != 0) {

                            pregunta.idPreguntaTest = data.resultado;
                            tabladata.row.add(pregunta).draw(false);
                            $("#FormModal").modal("hide");


                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }



                         //Editar interes
                    } else {

                        if (data.resultado) {
                            tabladata.row(filaSeleccionada).data(pregunta).draw(false);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size:14
                        })
                }
            });



        }


    </script>

}
