.card {
    align-items: center;
    max-width: 200px;
    height: 325px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}



.cards {
    position: relative;
    top: 10px;
    display: flex;
    flex-wrap: wrap; /* para envolver las tarjetas en varias líneas si no caben en una sola */
    flex-direction: row; /* para que los elementos se acomoden de arriba a abajo */
    gap: 10px; /* para agregar espacio entre cada elemento */
    max-width: 60%;
    height: 550px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: auto;
}


.card img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}



.button-container {
    display: flex;
    display: block; /* hace que los botones se muestren como bloques y se coloquen uno debajo del otro */
    justify-content: center;
    text-align: center;
}

    .button-container .boton {
        margin-bottom: 10px;
        background-color: #5F0C0C;
        height: 40px;
        width: 100px;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
        font-size: 1rem;
        cursor: pointer;
    }


    .button-container .boton1 {
        margin-bottom: 10px;
        background-color: white;
        height: 40px;
        width: 100px;
        color: white;
        padding: 10px 20px;
        border: none;
        border: 1px solid #5F0C0C;
        border-radius: 5px;
        margin-right: 10px;
        font-size: 1rem;
        cursor: pointer;
        color: #000000;
    }


.boton1:hover {
    background-color: rgb(30, 29, 29, 0.3);
    color: #fff;
}

.boton:hover {
    background-color: rgb(30, 29, 29, 0.30);
    color: #fff;
}

    /*    .button-container button:last-child {
            margin-right: 0;
        }
*/