@media screen and (max-width: 767px) {
    .btn-eliminar-interes:hover i {
        color: red;
    }
}

.contenedor-fotos {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.foto-contenedor {
    position: relative;
}

.eliminar-form {
    position: absolute;
    top: 10px;
    right: 15px;
}

.eliminar-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
}

    .eliminar-btn:hover {
        color: red;
        cursor: pointer;
    }

.principal-btn {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #555;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.btn-interes {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    color: #333;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

    .logo-container img {
        width: 50%;
        height: 50%;
    }


.btn-interes:hover {
    background-color: rgba(255, 0, 0, 0.5);
    cursor: pointer;
}

.btn-editar-intereses {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    color: #333;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1;
}

    .btn-editar-intereses:hover {
        background-color: #e0e0e0;
        cursor: pointer;
    }


/* Estilo para el botón que abre el modal */
#btn-modal {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #5f0c0c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo para el modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    top: 50px;
}

.modal-contenido {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border: 2px solid #5f0c0c;
    border-radius: 10px;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .cerrar:hover,
    .cerrar:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


.interes {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1;
    position: relative;
}

    .interes:hover {
        background-color: #ff0000;
        color: #fff;
    }

.button-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.button-item {
    display: inline-block;
    margin: 5px;
    padding: 10px 25px 10px 15px;
    background-color: transparent;
    color: #333;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    position: relative;
    padding-right: 20px; /* aumentar el espacio de relleno hacia la derecha */
}

    .button-item:hover {
        background-color: lightcoral;
        color: #fff;
    }

.btn-eliminar-interes {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
}

    .btn-eliminar-interes:hover {
        color: #ff0000;
    }

    .btn-eliminar-interes i {
        font-size: 1.2em;
        margin-right: 3px;
    }




.fa-trash-alt {
    font-size: 1em;
}

.modal-intereses select {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: 20px;
}

    .modal-intereses select[multiple] {
        height: auto;
    }

.modal-intereses ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.modal-intereses li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .modal-intereses li button {
        margin-left: 10px;
        padding: 5px 10px;
        font-size: 14px;
        background-color: #5f0c0c;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

        .modal-intereses li button:hover {
            cursor: pointer;
            background-color: #5f0c0c;
        }

.modal-intereses option {
    padding: 10px;
    font-size: 16px;
}

    .modal-intereses option:disabled {
        color: #ccc;
        background-color: #f7f7f7;
    }


.label-container {
    position: absolute;
    text-align: center;
}

#max-intereses-label {
    font-size: 20px;
    color: black;
}

.intereses-seleccionados-lista {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

    .intereses-seleccionados-lista li {
        margin: 0 10px 10px 0;
        padding: 5px 10px;
        background-color: #e6e6e6;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
    }

#agregar-interes {
    border: 2px solid #ccc;
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

    #agregar-interes:hover {
        background-color: lightgray;
    }