* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    text-align: center;
}

.question {
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 5px #666;
    text-align: center;
    max-width: 600px;
    width: 100%;
}

label {
    font-family: cursive;
    font-size: 25px;
}

input {
    display: block;
    width: 100%;
    margin-top: 15px;
    text-align: center;
    padding: 0 15px;
    font-size: 25px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: #333;
    font-family: cursive;
}

button {
    font-family: cursive;
    padding: 0 25px;
    font-size: 25px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .question {
        padding: 15px;
    }

    label {
        font-size: 20px;
    }

    input {
        font-size: 20px;
    }

    button {
        font-size: 20px;
    }
}

@media only screen and (max-width: 400px) {
    label {
        font-size: 18px;
    }

    input {
        font-size: 18px;
    }

    button {
        font-size: 18px;
    }
}
/* Estilos base para el input de fecha */
input[type="date"] {
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

    /* Estilos para el texto dentro del input */
    input[type="date"]::-webkit-calendar-picker-indicator {
        color: #999;
    }

    /* Estilos para el icono de calendario en el input */
    input[type="date"]::-webkit-inner-spin-button {
        display: none;
    }


hr.vertical {
    border: none;
    border-left: 2px solid black; /* Espesor y color de la línea */
    height: 50px; /* Altura de la línea */
    transform: rotate(90deg); /* Transformación de rotación */
}

.my-textarea-class {
    width: 100%;
    max-width: 1000px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    resize: none; /* Desactiva la capacidad de cambiar el tamaño por el usuario */
    margin-top: 10px;
    margin-bottom: 10px;
}

.error-message {
    color: #ff0000;
    margin-bottom: 10px;
}

form {
    border: 2px solid #5f0c0c;
    border-radius: 10px;
    padding: 20px;
}

    form input,
    form textarea {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        line-height: 1.5;
        box-sizing: border-box;
        margin-bottom: 20px;
        resize: none;
    }

        form input[type="submit"] {
            background-color: #5f0c0c;
            color: #fff;
            font-size: 20px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            form input[type="submit"]:hover {
                background-color: #a50e0e;
            }
