
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Perfil</h2>
<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="">Home</a></li>
    <li class="breadcrumb-item active">Modulo emparejamiento</li>
</ol>

<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title" style="background-color: #5F0C0C; color:#FFFFFF">Fotos</h2>
                <img />
            </div>
            <div class="card-footer"><a class="btn btn-danger btn-sm" href="#!">Eliminar</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title" style="background-color: #5F0C0C; color:#FFFFFF">Intereses</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Yoga</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Teatro</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Cine</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Viajar</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Gym</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title" style="background-color: #5F0C0C; color:#FFFFFF">Estilo de vida</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mascota</td>
                                <td>Perro</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Haces deporte</td>
                                <td>Todos los dias</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Cada cuanto fumas</td>
                                <td>No fumador</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Preferencias dieteticas</td>
                                <td>Viajar</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Actividad en redes</td>
                                <td>Socialmente activo</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title" style="background-color: #5F0C0C; color:#FFFFFF">Edad de preferencias</h2>
                <h5 class="card-title">18-30</h5>
                <input style="" type="range" />
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title" style="background-color: #5F0C0C; color:#FFFFFF">Edad de preferencias</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cartago</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title" style="background-color: #5F0C0C; color:#FFFFFF">Mas sobre mi</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Horoscopo</td>
                                <td>Acuario</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Educacion</td>
                                <td>Universitaria</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Tipo personalidad</td>
                                <td>Aventurera</td>
                                <td><input type="checkbox" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title" style="background-color: #5F0C0C; color:#FFFFFF">Preferencia de localizacion</h2>
                <h5 class="card-title">60KM</h5>
                <input style="" type="range" />
            </div>
        </div>
    </div>


</div>

