
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Modulo emparejamiento</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Configuraciones del modulo
    </div>
    <div class="card-body">
        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Intereses en comun</th>
                    <th>Edad como criterio</th>
                    <th>Test como criterio</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Emparejamiento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <input id="txtid" type="hidden" value="0" />


                <form id="contenedor" class="row">
                    <div class="col-sm-3">
                        <div class="mb-2">
                            <label class="form-label">Intereses</label>
                            <input type="text" class="form-control" id="txtinteres" name="interes" />
                        </div>

                    </div>


                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Edad como criterio</label>
                            <select id="cboedad" class="form-select">
                                <option value="1">Sí</option>
                                <option value="0">No</option>
                            </select>
                        </div>

                    </div>

                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">test como criterio</label>
                            <select id="cbotest" class="form-select">
                                <option value="1">Sí</option>
                                <option value="0">No</option>
                            </select>
                        </div>

                    </div>


                </form>
                <!--Mensaje de alerta-->
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">

                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>

        var tabladata;
        var filaSeleccionada

        jQuery.ajax({
            url: '@Url.Action("ListaModulo", "Emparejamiento")',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                console.log(data)
            }
        })

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListaModulo", "Emparejamiento")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "CriterioInteres" },
                {
                    "data": "EdadCriterio", "render": function (valor) {

                        if (valor) {
                            return '<span class="badge rounded-pill bg-success">Sí</span>'
                        } else {
                            return '<span class="badge rounded-pill bg-danger">No</span>'
                        }

                    }
                },
                {
                    "data": "TestCriterio", "render": function (valor) {

                        if (valor) {
                            return '<span class="badge rounded-pill bg-success">Sí</span>'
                        } else {
                            return '<span class="badge rounded-pill bg-danger">No</span>'
                        }

                    }
                },

                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }

            ],
            "language": { "url": "//cdn.datatables.net/plug-ins/1.13.2/i18n/es-ES.json" }
        });

        function abrirModatl(json) {

            $("#txtid").val(0);
            $("#txtinteres").val(0);
            $("#cboedad").val(1);
            $("#cbotest").val(1);




            if (json != null) {

                $("#txtid").val(json.idModConf);
                $("#txtinteres").val(json.CriterioInteres);
                $("#cboedad").val(json.EdadCriterio == true ? 1 : 0);
                $("#cbotest").val(json.TestCriterio == true ? 1 : 0);

            }

            $("#FormModal").modal("show")
        }

        function guardar() {


            if (!$("#contenedor").valid()) {
                return;
            }

            var modulo = {

                idModConf: $("#txtid").val(),
                CriterioInteres: $("#txtinteres").val(),
                EdadCriterio: $("#cboedad").val() == 1 ? true: false,
                TestCriterio: $("#cbotest").val() == 1 ? true: false

            }

            jQuery.ajax({
                url: '@Url.Action("EditarModulo", "Emparejamiento")',
                type: "POST",
                data: JSON.stringify({ obj: modulo }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");


                    //usuario nuevo
                    if (modulo.idModConf == 0) {

                        if (data.resultado) {
                            tabladata.row(filaSeleccionada).data(modulo).draw(false);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }



                         //Editar proucto
                    } else {

                        if (data.resultado) {
                            tabladata.row(filaSeleccionada).data(usuario).draw(false);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size:14
                        })
                }
            });



        }

    </script>

}

