
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pregunta7</title>

    <link href="~/Content/StylesJona/pregunta1p.css" rel="stylesheet" />
    <link href="~/Content/StylesJona/selectgenero.css" rel="stylesheet" />
</head>
<body>
    </div>
    <div class="outer-container">
        <div class="question-container">
            <!-- Código HTML actual de la pregunta -->
            <div id="container">
                <div class="question-container">
                    <div class="question-header">
                        <img src="~/imagenes/image001.png" alt="Logo">
                        <hr>
                        <h2><strong>Rango de edad:</strong></h2>
                    </div>
                    <div class="form-container">
                        @using (Html.BeginForm("Pregunta7", "preguntasInteres", FormMethod.Post))
                        {
                            <div class="middle">
                                <div class="multi-range-slider">
                                    <input type="range" name="edadMinima" id="input-left" min="18" max="100" value="25">
                                    <input type="range" name="edadMaxima" id="input-right" min="18" max="100" value="75">

                                    <div class="slider">
                                        <div class="track"></div>
                                        <div class="range"></div>
                                        <div class="thumb left"></div>
                                        <div class="thumb right"></div>
                                    </div>
                                </div>
                                <br>
                                <p>Values : <span id="value-1">0</span> - <span id="value-2">0</span></p>
                                <div class="button-container">

                                    <input id="button" type="submit" value="Continuar">
                                </div>
                            </div>
                        }
                    </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    var inputLeft = document.getElementById("input-left");
    var inputRight = document.getElementById("input-right");

    var thumbLeft = document.querySelector(".slider > .thumb.left");
    var thumbRight = document.querySelector(".slider > .thumb.right");
    var range = document.querySelector(".slider > .range");

    function setLeftValue() {
        var _this = inputLeft,
            min = parseInt(_this.min),
            max = parseInt(_this.max);

        const valueSpan = document.querySelector("#value-1")

        _this.value = Math.min(parseInt(_this.value), parseInt(inputRight.value) - 1);

        valueSpan.innerHTML = _this.value;

        var percent = ((_this.value - min) / (max - min)) * 100;

        thumbLeft.style.left = percent + "%";
        range.style.left = percent + "%";
    }
    setLeftValue();

    function setRightValue() {
        var _this = inputRight,
            min = parseInt(_this.min),
            max = parseInt(_this.max);
        const valueSpan = document.querySelector("#value-2")

        _this.value = Math.max(parseInt(_this.value), parseInt(inputLeft.value) + 1);

        valueSpan.innerHTML = _this.value;

        var percent = ((_this.value - min) / (max - min)) * 100;

        thumbRight.style.right = (100 - percent) + "%";
        range.style.right = (100 - percent) + "%";
    }
    setRightValue();

    inputLeft.addEventListener("input", setLeftValue);
    inputRight.addEventListener("input", setRightValue);

    inputLeft.addEventListener("mouseover", function () {
        thumbLeft.classList.add("hover");
    });
    inputLeft.addEventListener("mouseout", function () {
        thumbLeft.classList.remove("hover");
    });
    inputLeft.addEventListener("mousedown", function () {
        thumbLeft.classList.add("active");
    });
    inputLeft.addEventListener("mouseup", function () {
        thumbLeft.classList.remove("active");
    });

    inputRight.addEventListener("mouseover", function () {
        thumbRight.classList.add("hover");
    });
    inputRight.addEventListener("mouseout", function () {
        thumbRight.classList.remove("hover");
    });
    inputRight.addEventListener("mousedown", function () {
        thumbRight.classList.add("active");
    });
    inputRight.addEventListener("mouseup", function () {
        thumbRight.classList.remove("active");
    });
</script>
<style>

        .middle {
            position: relative;
            width: 50%;
            max-width: 500px;
        }

        .slider {
            position: relative;
            z-index: 1;
            height: 10px;
            margin: 0 15px;
        }

            .slider > .track {
                position: absolute;
                z-index: 1;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                border-radius: 5px;
                background-color: #c6aee7;
                // => transparent
            }

            .slider > .range {
                position: absolute;
                z-index: 2;
                left: 25%;
                right: 25%;
                top: 0;
                bottom: 0;
                border-radius: 5px;
                background-color: #5F0C0C;
            }

            .slider > .thumb {
                position: absolute;
                z-index: 3;
                width: 30px;
                height: 30px;
                background-color: #5F0C0C;
                border-radius: 50%;
                box-shadow: 0 0 0 0 rgba(98,0,238,.1);
                transition: box-shadow .3s ease-in-out;
            }

                .slider > .thumb.left {
                    cursor: pointer;
                    left: 25%;
                    transform: translate(-15px, -10px);
                }

                .slider > .thumb.right {
                    right: 25%;
                    transform: translate(15px, -10px);
                }

                .slider > .thumb.hover {
                    box-shadow: 0 0 0 20px rgba(98,0,238,.1);
                }

        /**

    .slider > .thumb.hover {
        box-shadow: 0 0 0 20px rgba(98,0,238,.1);
    }
    .slider > .thumb.active {
        box-shadow: 0 0 0 40px rgba(98,0,238,.2);
    }

    **/

        input[type=range] {
            position: absolute;
            pointer-events: none;
            -webkit-appearance: none;
            z-index: 2;
            height: 10px;
            width: 100%;
            opacity: 0;
        }

            input[type=range]::-webkit-slider-thumb {
                pointer-events: all;
                width: 30px;
                height: 30px;
                border-radius: 0;
                border: 0 none;
                background-color: red;
                -webkit-appearance: none;
            }
</style>