@model CapaEntidad.cliente


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pregunta 2</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="~/Content/pregunta2p.css" rel="stylesheet" />
    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

</head>
<body>
    <div class="outer-container">
        <div class="question-container">
            <!-- Código HTML actual de la pregunta -->
            <div id="container">
                <div class="question-container">
                    <div class="question-header">
                        <img src="~/imagenes/image001.png" alt="Logo">
                        <hr>
                        <h2>Danos una descripcion de te, para conocerte mejor?</h2>
                    </div>
                    <div class="question-body">

                        <form id="form" action="@Url.Action("Pregunta2","preguntasInteres")" method="post">
                            <input class="form-control" type="hidden" value="@TempData["idCliente"]" name="idCliente" />

                            @Html.TextAreaFor(m => m.descripcion, new { @class = "my-textarea-class", @id = "contenido", @autocomplete = "off", @placeholder = "Descripcion", @rows = "5", @value = ViewData["descripcion"] })


                            <div class="button-container">
                                <button type="submit" id="button">Siguiente</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>


