@model CapaEntidad.cliente


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pregunta 2</title>
    <link href="~/Content/StylesJona/Preguntas.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

</head>
<body>
    <div id="container">
        <div class="question">

            @{
                if (ViewBag.Error != null)
                {

                    <div class="form-floating mb-3">
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.Error
                        </div>
                    </div>
                }
            }
            <form id="form" action="@Url.Action("Pregunta2","preguntasInteres")" method="post">
                <input class="form-control" type="hidden" value="@TempData["idCliente"]" name="idCliente" />
                <label for="input">
                    <span id="text">Danos una descripcion, de que te gustaria compartir con el resto de usuarios?</span>
                </label>
                @Html.TextAreaFor(m => m.descripcion, new { @class = "my-textarea-class", @id = "contenido", @autocomplete = "off", @placeholder = "Descripcion", @rows = "5", @value = ViewData["descripcion"] })

                <button type="submit" id="button">Siguiente</button>
            </form>
        </div>
    </div>
</body>


</html>

</html>
