
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DobleAutenticacion</title>
    <link href="~/Content/StylesJona/pregunta1p.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="~/Content/StylesJona/shake.css" rel="stylesheet" />
    <style>
        /* Estilos para el ícono de verificación */
        .fa-check-circle {
            color: green;
            font-size: 2rem;
        }

        /* Estilos para el ícono de error */
        .fa-times-circle {
            color: red;
            font-size: 2rem;
        }

        /* Estilos para el contenedor del ícono */
        .icon-container {
            display: inline-block;
            margin-left: 10px;
         
        }

        /* Estilos para el mensaje de confirmación */
        .confirmation-message {
            display: inline-block;
            margin-left: 10px;
            font-size: 1.2rem;
        }
        .center{
            text-align:center;
            padding:10px;
         
   
        }
        .icon-container{
            padding: 10px;
            text-align:center;
        }
        button {
            background-color: #5F0C0C;
            color: #ffffff;
            border: none;
            border-radius: 10px;
            padding: 10px 20px;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.2s ease;
        }

            button:hover {
                background-color: black;
            }
    </style>
</head>

<body>




    <div class="outer-container">
        <div class="question-container">
            <!-- Código HTML actual de la pregunta -->
            <div id="container">
                <div class="question-container">
                    <div class="question-header">
                        <img src="~/imagenes/image001.png" alt="Logo">
                        <hr>
                        <h2><strong>Doble Autenticación</strong></h2>
                    </div>
                    <div class="question-body">
                        <div>
                            <div class="center">
                                <i id="confirmation-icon" class="fas"></i>


                                <div class="confirmation-message" id="confirmation-message"></div>
                            </div>
                        </div>
             

                        <div class="center">

                         

                                @Html.TextBox("codigo", null, new { @class = "form-control" })
                        

                            <button type="submit" class="button" id="verificar-codigo">
                                Verificar código
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function cambiarIcono(icono) {
            const boton = document.getElementById('verificar-codigo');
            boton.innerHTML = icono + ' Verificar código';
        }

      // Ejemplo de uso:
       //cambiarIcono('<i class="fas fa-check"></i>'); // Icono de check verde
       // cambiarIcono('<i class="fas fa-times"></i>'); // Icono de x roja
    $(document).ready(function() {
    $('#verificar-codigo').click(function() {
        var codigoIngresado = $('#codigo').val();
        $.ajax({
            url: '@Url.Action("VerificarCodigo","Acceso")',
            type: 'POST',
            data: { codigo: codigoIngresado },
            success: function(data) {
                if (data.success) {
                    $('#confirmation-icon').removeClass('fa-times-circle');
                    $('#confirmation-icon').addClass('fa-check-circle');
                    $('#confirmation-message').text('Código correcto');
                    $('#confirmation-message').css('color', 'green');
                      window.location.href = '@Url.Action("Geolocalizacion", "Home")';
                } else {
                    $("#verificar-codigo").addClass("shake");
                    setTimeout(function () {
                        $("#verificar-codigo").removeClass("shake");
                    }, 300);
                    $('#confirmation-icon').removeClass('fa-check-circle');
                    $('#confirmation-icon').addClass('fa-times-circle');
                    $('#confirmation-message').text('Código incorrecto');
                    $('#confirmation-message').css('color', 'red');
                }
            }
        });
    });
});

    </script>

</body>
</html>
