
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="~/Content/StylesJona/styleLogin1.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>

<body>


    <div class="login-container">
        <div class="login-info-container">
            <h1 class="title">Inicio de sesion</h1>
            <form action="@Url.Action("Index","Acceso")" method="post" class="inputs-container">
                <input class="input" name="correo" type="email" autocomplete="off" placeholder="name@example.com">
                <input class="input" name="clave" type="password" autocomplete="off" placeholder="Contraseña">
                @{
                    if (ViewBag.Error != null)
                    {



                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.Error
                                </div>
                            </div>

                        </div>

                    }
                }
                <a href="@Url.Action("Reestablecer","Acceso")"> <p>Haz olviado tu contraseña? <span class="span">Click here</span></p></a>
                <button type="submit" class="btn">Ingresar</button>


                <a href="@Url.Action("Registrar","Acceso")"> <p>No tienes cuenta? Registrate! <span class="span">Sign Up</span></p></a>
            </form>
        </div>
        <img class="image-container" src="~/imagenes/login.svg" alt="">
    </div>



</body>

</html>

